<h1 class="text-center mb-4">Welcome to my todolist app</h1>
<%= render 'layouts/task_form'  %>


<div class="container">
  <ul class="tabs">
    <li class="tab-link current" data-tab="tab-1"><%=@categories[0].title %></li>
    <li class="tab-link" data-tab="tab-2"><%=@categories[1].title%></li>
    <li class="tab-link" data-tab="tab-3"><%=@categories[2].title%></li>

  </ul>

  
  <div id="tab-1" class="tab-content current">
    <% @categories[0].tasks.each do |task|  %>
              <li>
                <%= task.title  %>
                <% unless task.deadline.nil? %>
                  , to read: <%= task.deadline.strftime('%D')  %>
                <% end %>
              </li>
          <% end %>
          </div>

  
<div id="tab-2" class="tab-content">
  <% @categories[1].tasks.each do |task|  %>
              <li>
                <%= task.title  %>
                <% unless task.deadline.nil? %>
                  , to read: <%= task.deadline.strftime('%D')  %>
                <% end %>
              </li>
          <% end %>
          </div>

  <div id="tab-3" class="tab-content">
  <% @categories[2].tasks.each do |task|  %>
              <li>
                <%= task.title  %>
                <% unless task.deadline.nil? %>
                  , to read: <%= task.deadline.strftime('%D')  %>
                <% end %>
              </li>
          <% end %>
          </div>



<div class="container">
  <div class="row">
    <% @tasks.each do |task|  %>
      <div class="card col-3">
        <% unless task.image.nil? %>
          <%= image_tag task.image, class: "rounded-circle" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
